h1 {
  text-align: center;
}

.poke-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
  column-gap: 50px;  
}

.poke-block {
  text-align: center;
  border-radius: 10%;  
  height: 9rem;
  background-color: rgb(213, 213, 213);
}

.name {
  color: blue;
  font-weight: bold;
  position: relative;
  top: 5px;
}

.info {
  position: relative;
  bottom: 1rem;
}