.poke-container {
  background-color: rgb(180, 180, 255);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 50px;
  column-gap: 50px;
  padding: 0;
  
}

.poke-block {
  text-align: center;
  border: 1px solid black;
  height: 9rem;
  background-color: rgb(216, 216, 216);
}